# Build results
bin/
obj/
build/
out/

# AWS Lambda .zip packages
*.zip

# AWS credentials or secrets
.env
*.aws/*

# Visual Studio Code settings
.vscode/
*.code-workspace

# Rider / VS IDE files
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Python (if mixing languages)
__pycache__/
*.pyc

# Test result files
TestResults/
*.trx
*.coverage
*.coveragexml

# NuGet packages
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# Compiled DLLs and executables
*.dll
*.exe
*.pdb
*.mdb
